.updates-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
    mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
}

.updates-scroll {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    transition: transform 0.4s ease;
}

.update-card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, var(--accent-color), var(--text-bg));     
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px var(--box-shadow-dark);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    min-width: 420px;
    max-width: 420px;
}

.update-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px black;
}

.update-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 5px solid var(--sec-accent-color);
    display: block;
}

.update-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: flex-start; 
    min-width: 300px;          
}

.update-content h3,
.update-content p {
    margin: 0;
    overflow-wrap: break-word;  
    word-break: normal;        
}

.update-content h3 {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--sec-accent-color);
}

.update-content p {
    font-size: 1.05rem;
    line-height: 1.65;
    color: rgba(247, 242, 236, 0.85);
}

.update-card .date {
    margin-top: 10px;
    font-size: 0.95rem;
    opacity: 0.85;
    align-self: flex-start;
}

@media (min-width: 768px) {

    .update-card {
        flex-direction: row;
        min-width: 640px;
        max-width: 640px;
    }

    .update-img {
        width: 42%;
        height: 320px;
        border-bottom: none;
        border-right: 5px solid var(--sec-accent-color);
    }

    .update-content {
        width: 58%;
    }
}

.scroll-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.scroll-btn {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: var(--accent-color);
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: 0.2s;
}

.scroll-btn.disabled {
  background: #7a7a7a;
  cursor: not-allowed;
}
.hero {
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.fade-overlay {
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    top: 400px;
    z-index: 10;
    background: linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0.0) 0%,
        rgba(17, 17, 17, 1.0) 100%
    );
}
