:root {
  --bg-color: rgb(17, 17, 17);
  --sec-bg: #003153;
  --accent-color: #33C9D4;
  --sec-accent-color: rgb;
  --text-bg: rgb(0, 47, 82);
  --text-color: rgb(247, 242, 236);
  --cl-color: rgb(250, 245, 237);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
